/target

.idea/
target-path

target/
fuzz/Cargo.lock

.DS_Store

demo_data/
/.vscode/*

/examples/celestia-docker/credentials/*
!/examples/celestia-docker/credentials/bridge-0.addr
!/examples/celestia-docker/credentials/bridge-0.key
