[package]
name = "sov-modules-api"
description = "Defines the interface of the Sovereign SDK module system"
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }
version = { workspace = true }
readme = "README.md"
resolver = "2"

[dependencies]
jsonrpsee = { workspace = true, optional = true } 
anyhow = { workspace = true }
sov-state = { path = "../sov-state", version = "0.1", default-features = false }
sov-rollup-interface = { path = "../../rollup-interface", version = "0.1" }
sov-modules-macros = { path = "../sov-modules-macros", version = "0.1", optional = true }
serde = { workspace = true }
borsh = { workspace = true }
thiserror = { workspace = true }
sha2 = { workspace = true }
bech32 = { workspace = true }
derive_more = { workspace = true }
serde_json = { workspace = true }
hex = { workspace = true, optional = true }
clap = { workspace = true, optional = true }
schemars = { workspace = true, optional = true, features = [] }

ed25519-dalek = { version = "1.0.1", default-features = false, features = ["alloc", "u64_backend"] }
rand = { version = "0.7", optional = true }


[dev-dependencies]
serde_json = { workspace = true }
bincode = { workspace = true }

[features]
default = ["native", "macros"]
native = ["sov-state/native", "rand", "hex", "schemars", "ed25519-dalek/default", "clap", "jsonrpsee", "macros", "sov-modules-macros/native"]
macros = ["sov-modules-macros"]
