[package]
name = "sov-modules-macros"
description = "Macros for use with the Sovereign SDK module system"
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }
version = { workspace = true }
readme = "README.md"
resolver = "2"
autotests = false

[lib]
proc-macro = true

[[test]]
name = "tests"
path = "tests/all_tests.rs"

[dev-dependencies]
serde_json = "1"
jsonrpsee = { workspace = true, features = ["macros", "http-client", "server"] }
trybuild = "1.0"

sov-modules-api = { path = "../sov-modules-api", version = "0.1", default-features = false }
sov-state = { path = "../sov-state", version = "0.1", default-features = false }
sov-bank = { path = "../module-implementations/sov-bank", version = "0.1", features = ["native"] }
clap = { workspace = true }
serde = { workspace = true }

[dependencies]
anyhow = { workspace = true }
jsonrpsee = { workspace = true, features = ["http-client", "server"] }
sov-rollup-interface = { path = "../../rollup-interface", version = "0.1" }

syn = { version = "1.0", features = ["full"] }
quote = "1.0"
proc-macro2 = "1.0"
borsh = { workspace = true }
schemars = { workspace = true }
